name: Deploy to Amplify
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '20'
      - run: npm ci
      - run: npm run build

      # - name: Deploy to Amplify
      #   run: npx amplify publish
      #   if: github.ref == 'refs/heads/master' && github.event_name == 'push'

  terraform:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    env:
      TF_VAR_github_token: ${{ secrets.REPOSITORY_PAT }}

    steps:
      - uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
      
      - name: Configure AWS Credentials (OIDC Role)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/gha-amplify-astro-portfolio
          aws-region: ap-northeast-1

      - name: Terraform Init (with S3 backend)
        run: terraform init -backend-config="bucket=amplify-astro-terraform" -backend-config="key=astro-portfolio/terraform.tfstate" -backend-config="region=ap-northeast-1"
        working-directory: infra

      - name: Terraform plan
        id: plan
        run: terraform plan -no-color
        working-directory: infra

      - name: Terraform Apply
        run: terraform apply -auto-approve
        working-directory: infra
        if: github.ref == 'refs/heads/master' && github.event_name == 'push'
